// Main Background

$color-bg:hsl(210, 46%, 95%);

// Bloc Colors

$bloc-white:hsl(0, 0%, 100%);
$bloc-blackish-blue:hsl(219, 29%, 14%);
$bloc-grayish-blue:hsl(217, 19%, 35%);
$bloc-violet:hsl(263, 55%, 52%);

// Text

$txt-color-white:hsl(0, 0%, 100%);
$txt-color-black:hsl(0,0%,0%);

// Border colors

$l-violet-border:hsl(263, 55.5%, 51.6%);
$vl-violet-border:hsl(264, 81.6%, 70.2%);